<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-label *ngIf="currentUser$ | async as currentUser">{{
      currentUser.name
    }}</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content
  forceOverscroll="false"
  *ngIf="currentUser$ | async as currentUser"
  (ionScrollStart)="logScrollStart()"
  (dblclick)="onDoubleClick()"
>
  <ion-infinite-scroll
    threshold="1%"
    (ionInfinite)="loadData($event)"
    [position]="'top'"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
      <span *ngIf="!chatContent.length"> Start chat</span>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-list #list>
    <ion-item *ngFor="let content of chatContent" lines="none" slot="start">
      <ion-avatar *ngIf="content.userId === currentUser.id" [slot]="'start'">
        <img
          [src]="
            content.userId === currentUser.id
              ? currentUser.thumb
              : chatUser.thumb
          "
        />
      </ion-avatar>
      <ion-card
        [color]="checkCardColor(content.userId, currentUser.id, content.img)"
        [slot]="content.userId === currentUser.id ? 'start' : 'end'"
      >
        <ion-card-content *ngIf="content.message">
          {{ content.message }}
        </ion-card-content>
        <ion-card-content *ngIf="content.img">
          <ion-img [src]="content.img"></ion-img>
        </ion-card-content>
      </ion-card>

      <ion-avatar
        *ngIf="content.userId !== currentUser.id"
        [slot]="'end'"
        class="ion-margin"
      >
        <img
          [src]="
            content.userId === currentUser.id
              ? currentUser.thumb
              : chatUser.thumb
          "
        />
      </ion-avatar>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer *ngIf="currentUser$ | async as currentUser">
  <ion-toolbar>
    <ion-input
      clearInput
      #input
      (keydown.enter)="sendMsg(currentUser)"
    ></ion-input>
    <ion-buttons slot="primary">
      <ion-button (click)="sendMsg(currentUser)" [disabled]="!input.value">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
      <ion-button (click)="onTakePicture(currentUser)">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
