<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-label *ngIf="currentUser$ | async as currentUser">{{
      currentUser.name
    }}</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content
  forceOverscroll="false"
  *ngIf="currentUser$ | async as currentUser"
  (ionScrollStart)="logScrollStart()"
  (dblclick)="onDoubleClick()"
>
  <ion-infinite-scroll
    threshold="1%"
    (ionInfinite)="loadData($event)"
    [position]="'top'"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
      <span *ngIf="!chatContent.length"> Start chat</span>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-list #list>
    <ion-item
      *ngFor="let content of chatContent"
      lines="none"
      class="ion-no-padding"
    >
      <ion-item
        lines="none"
        *ngIf="content.userId === currentUser.id"
        [slot]="'start'"
      >
        <ion-avatar slot="start" class="ion-align-self-start">
          <img [src]="currentUser.thumb" />
        </ion-avatar>
        <ion-label
          text-wrap
          class="message current-user-color"
          *ngIf="!content.img"
        >
          <ion-text> {{ content.message }} </ion-text>
        </ion-label>
        <ion-img [src]="content.img"></ion-img>
      </ion-item>

      <ion-item
        lines="none"
        *ngIf="content.userId !== currentUser.id"
        class="ion-align-self-start"
        [slot]="'end'"
      >
        <ion-label
          text-wrap
          class="message second-user-color"
          *ngIf="!content.img"
        >
          <ion-text> {{ content.message }} </ion-text>
        </ion-label>
        <ion-img [src]="content.img"></ion-img>
        <ion-avatar slot="end" class="ion-align-self-end">
          <img [src]="chatUser.thumb" />
        </ion-avatar>
      </ion-item>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer *ngIf="currentUser$ | async as currentUser">
  <ion-toolbar>
    <ion-input
      clearInput
      #input
      (keydown.enter)="sendMsg(currentUser)"
    ></ion-input>
    <ion-buttons slot="primary">
      <ion-button (click)="sendMsg(currentUser)" [disabled]="!input.value">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
      <ion-button (click)="onTakePicture(currentUser)">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
